@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/NewLayout.cshtml";
}
&nbsp;
<br />

<h2 style="text-align: center">Vaccination - Case <strong><em>COVID-19</em></strong></h2>

<br />


@using (Html.BeginForm("Index", "RegistrationCenter", FormMethod.Post))
{
    <br />
    <div style="text-align: center">
        <button type="submit" value="NewCase" name="Option" style="width:300px;height:30px">Add Patient</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="PatientsList" name="Option" style="width:300px;height:30px">Patients List</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="RegistrationCenterList" name="Option" style="width:300px;height:30px">Attention Centers</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Statistics" name="Option" style="width:300px;height:30px">Statistics</button>
    </div>
}