@model DotNet.Highcharts.Highcharts
@{ ViewBag.Title = "ChartsVaccination"; }

<h2>Graficos</h2>
<h1>Grafico de columnas : @ViewBag.Title</h1>
<hr />
<div class="row">
    <div>
        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div>

